.secao {
    align-items: end;
}
.secao__principal{
    height: 80vh;
    width: 100vw;
}




.secao__principal__texto{
    padding-left: 6.25rem ;
    width: 50%;
    flex-direction: column;
    align-items: start;
    justify-content: center;   
}

.secao__principal__texto h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.secao__principal__texto p{
    font-size: 1rem;
    font-weight: 500;
    max-width: 25rem;
    margin-bottom: 5rem;
}

.secao__principal__texto p:last-child{
    margin-bottom:0px;
}


.secao__principal__texto p a{
    padding: 1rem 1.25rem;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    transition: .3s;
}

.secao__principal__texto p a:hover{
    box-shadow: 1px 1px 1px black;
    background-color: white;
    color: black;    
}


.secao__principal__logos{  
    width: 100%;
}

.secao__principal__logos__lista{
    list-style-type: none;
    justify-content: space-between;
}



 
.secao__imagem{
    height: 80vh;   
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao__imagem img{
    width: 25rem;  
}